{{page.navigation}}
<div class="py-5" style="	background-image: url(&quot;{{ base_path ~ directory }}/images/bg1.png&quot;);	background-position: top left;	background-size: cover;	background-repeat: no-repeat;">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-white">Política de privacidade</h1>
    </div>
  </div>
</div>
</div>
<div class="d-block d-sm-nonept-3 py-4 bg-light">
<div class="container">
  <div class="row d-flex flex-row justify-content-center">
    <div class="col-md-12 col-lg-8">
    {{page.content}}
      {# <p class="">Nelma Soares Gonçalves, 59 anos, foi a primeira pessoa do Shopping da Minhoca a ser cadastrada para a inclusão no Programa de Transferência de Renda (PTR). </p>
      <p class="">Desde que a Barragem do Córrego do Feijão rompeu e o Rio Paraopeba perdeu a vida, Nelma viu sua renda de dois salários mínimos mensais desaparecer. “As vendas eram muito boas, hoje a gente vive é de doação de cesta básica. </p>
      <p class="">A gente não come mais o que gosta, é o que tem. Para quem está acostumado a trabalhar e ter seu dinheiro, é muito ruim. Pelejamos, pelejamos, até que chegou o dia, graças a Deus”, disse, logo após terminar seu cadastro no PTR. </p>
      <p class="">Na localidade, 274 pessoas foram cadastradas pela equipe da FGV, que durante três dias atendeu a população de 10h às 18h recebendo e conferindo os documentos necessários para o pedido de inclusão no PTR. O cadastro e a documentação passarão por análise da FGV, que encaminhará às Instituições de Justiça e aos Compromitentes a relação de deferimentos e indeferimentos para deliberação. A partir disso, será comunicada a cada requerente a decisão sobre inclusão ou não no PTR. </p><img class="img-fluid d-block" src="img/img-exemplo.png">
      <p class="mt-3">Nelma Soares Gonçalves, 59 anos, foi a primeira pessoa do Shopping da Minhoca a ser cadastrada para a inclusão no Programa de Transferência de Renda (PTR). Desde que a Barragem do Córrego do Feijão rompeu e o Rio Paraopeba perdeu a vida, Nelma viu sua renda de dois salários mínimos mensais desaparecer. “As vendas eram muito boas, hoje a gente vive é de doação de cesta básica. A gente não come mais o que gosta, é o que tem. Para quem está acostumado a trabalhar e ter seu dinheiro, é muito ruim. Pelejamos, pelejamos, até que chegou o dia, graças a Deus”, disse, logo após terminar seu cadastro no PTR. </p>
      <p class="">Na localidade, 274 pessoas foram cadastradas pela equipe da FGV, que durante três dias atendeu a população de 10h às 18h recebendo e conferindo os documentos necessários para o pedido de inclusão no PTR. O cadastro e a documentação passarão por análise da FGV, que encaminhará às Instituições de Justiça e aos Compromitentes a relação de deferimentos e indeferimentos para deliberação. A partir disso, será comunicada a cada requerente a decisão sobre inclusão ou não no PTR. </p> #}
    </div>
  </div>
</div>
</div>
{{page.footer}}
