<div class="col-12 col-lg-4 mt-2" style="">
<div class="card">
  {{ fields.field_imagem_.content }}
  <div class="card-body">
    <h6 class="mb-0 my-2 text-dark">
      {# <i class="fa-regular fa-calendar-days fa-lg mr-2 text-primary"></i> #}
      <span style="font-weight: normal;">{{ fields.created.content }}</span>
    </h6>
    <h5 class="text-dark">{{fields.title.content}}</h5>
  </div>
</div>
</div>
